.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.btn.lg {
    padding: 13px 20px;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--pink-1);
    color: var(--grey-1);
    font-size: 1rem;
}

.lg:hover {
    background-color: var(--pink-2);
}

.btn.sm {
    height: 1.2rem;
    width: 3rem;
    border-radius: 2px;
    color: var(--grey-4);
    background-color: var(--grey-2);
    border-radius: 2px;
    padding: 5px 15px;
    font-size: 0.625rem;

}

.sm:hover {
    background-color: var(--grey-4);
    color: var(--grey-1);
}

select {
    height: 52px;
    padding: 0px 16px;
    font-size: 1rem;
    color: var(--grey-3);
    border: none;
    background-color: var(--grey-1);
}