*{
    font-family: 'Nunito', sans-serif;
}

:root{
    --pink-1:#FD377E;
    --pink-2: #E34981;
    --green-1: #03B898;
    --grey-1:#F8F9FA;
    --grey-2:#E9ECEF;
    --grey-3:#868E96;
    --grey-4:#212529;

}

