.totalBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    height: 96px;
    padding: 20px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    margin-top: 20px;

}

.totalText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}